<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <p>this is dashboard</p>
    

    <hr>
    <form action="/Dashboard" method="POST">
        
        <input type="text" name="Name" id="" placeholder="Name">
        <input type="tel" name="Contact" id="" placeholder="Contact">
        <button type="submit"> Order Details</button>
    </form>


</body>
</html>