<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

  <body class="" style="background-color: blueviolet;">
    <style>
      .hide{
        display: none;
      }
    </style>
    <%- include('./partials/navbar.ejs') %>

      <div class="container d-flex text-center  " style="align-items: center; justify-content:center "> 
        <div class="p-4 border bg-light  mt-5" style="max-width: 55rem;  width:100% ; border-radius:1rem" >
        <p class=" text-dark fw-bold" style="text-align: center; font-size: 2.5rem ; "> Details</p>
         

        <form>
          <div class="detail">
          <div class="mb-3">
            <input placeholder="Name" type="text" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3 mt-2">
            <input placeholder="Contact" type="tel" class="form-control" id="exampleInputPassword1">
          </div>
         
        </div>
          <div class="Order-Detail hide mb-4">
            <div class="mt-2">
              <h2 class="mb2">ITEM DETAIL</h2>
              <input type="checkbox " class="btn-check " id="btn-check" autocomplete="off">
             <label class="btn btn-warning mx-2" for="btn-check">Single Item</label>


             <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
             <label class="btn btn-warning mx-2" for="btn-check">More Than 1</label>


             <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
             <label class="btn btn-warning mx-2" for="btn-check">Single Room</label>

             <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
             <label class="btn btn-warning mx-2" for="btn-check">1BHK</label>

             <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
             <label class="btn btn-warning mx-2" for="btn-check">2BHK</label>

             <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
             <label class="btn btn-warning mx-2" for="btn-check">More Than 2BHK</label>



            </div>
            
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary  px-5 fw-bold " onclick="change()"  style="border-radius: 5rem;"> Next</button>
          </div>
        </form>
      </div>
      </div>
  </body>


<script>
  function change(){
    document.querySelector('.Order-Detail').classList.remove('hide')
    document.querySelector('.detail').classList.add('hide')


    

  }
</script>

</html>