<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

  




<body class="" style="background-color: blueviolet; font-family:  'Playfair Display', serif;;">
    <style>
      .hide{
        display: none;
      }
    </style>



    <%- include('./partials/navbar.ejs') %>

      <div class="container d-flex text-center  " style="align-items: center; justify-content:center "> 
        <div class="p-4 border bg-light  mt-5" style="max-width: 55rem;  width:100% ; border-radius:1rem" >
        <p class=" text-dark fw-bold" style="text-align: center; font-size: 2.5rem ; "> Details</p>
         

        <form>
          <div class="detail ;border radius : 2rem">
          <div class="mb-3">
            <input placeholder="Name" type="text" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3 mt-2">
            <input placeholder="Contact" type="tel" class="form-control" id="exampleInputPassword1">
          </div>
         
        </div>
          <div class="Order-Detail hide mb-4">
            <div class="mt-2">
              <h2 class="mb2 ; margin top : 2">ITEM DETAIL </h2> 
              <input type="checkbox " class="btn-check " id="btn-check" autocomplete="off">
             <label class="btn btn-warning mx-2" for="btn-check">Single Item</label>


             <input type="checkbox" class="btn-check" id="More Than 1" autocomplete="off">
             <label class="btn btn-warning mx-2" for="More Than 1">More Than 1</label>


             <input type="checkbox" class="btn-check" id="Single Room" autocomplete="off">
             <label class="btn btn-warning mx-2" for="Single Room">Single Room</label>

             <input type="checkbox" class="btn-check" id="1BHK" autocomplete="off">
             <label class="btn btn-warning mx-2" for="1BHK">1BHK</label>

             <input type="checkbox" class="btn-check" id="2BHK" autocomplete="off">
             <label class="btn btn-warning mx-2" for="2BHK">2BHK</label>

             <input type="checkbox" class="btn-check" id="More Than 2BHK" autocomplete="off">
             <label class="btn btn-warning mx-2" for="More Than 2BHK">More Than 2BHK</label>

             <h2 class="mb2 ;line height :0.4">ITEM TYPE</h2>
             <label for="Fragile" class="form-label">Number of Fragile Item</label>
             <input  type="number" class="form-control" id="Fragile"
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3 mt-2">
            <label for="Big" class="form-label">Number of Big Item</label>
            <input  type="number" class="form-control" id="Big">

             <h2 class="mb2 , border radius : 2rem">RECOMMENDED VEHICLE</h2>
            
              <input type="checkbox " class="btn-check " id="Truck" autocomplete="off">
             <label class="btn btn-warning mx-2" for="Truck">Truck</label>

             <input type="checkbox" class="btn-check" id="Tempo" autocomplete="off">
             <label class="btn btn-warning mx-2" for="Tempo"">Tempo</label>


             <input type="checkbox" class="btn-check" id="Auto" autocomplete="off">
             <label class="btn btn-warning mx-2" for="Auto">Auto</label>

             <h2 class="mb2">TOTAL COST</h2>
            
              <input type="checkbox " class="btn-check " id="Personalized" autocomplete="off">
             <label class="btn btn-warning mx-2" for="Personalized">Personalized</label>

             <input type="checkbox" class="btn-check" id="Sharing" autocomplete="off">
             <label class="btn btn-warning mx-2" for="Sharing"">Sharing</label>

             
          
          

              


             




            </div>
            
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary  px-5 fw-bold " onclick="change()"  style="border-radius: 5rem;"> Next</button>
          </div>
        </form>
      </div>
      </div>
  </body>


<script>
  function change(){
    document.querySelector('.Order-Detail').classList.remove('hide')
    document.querySelector('.detail').classList.add('hide')


    

  }
</script>

</html>